img{
    width: 400px;
}

.container{
    max-width: 900px;
}

.row{

    padding: 100px;
}

.navbar-brand{
    margin-left: 350px;
}


footer{
    padding: 0;
}

#imagen-principal{
    width: 400px;
}